/* รูปแบบหลักสำหรับหน้า */
.user-services-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}


.service-item {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
    padding: 15px;
    list-style-type: none;
}


.button {
    background-color: #9a8fff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.button:hover {
    background-color: #ff978f;
    transition: all 2s ease;
}

h2 {
    color: #333;
}
