
<img src="home.jpg" style="width:100%;position:relative;height: 600px;">

<div class="text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #706ED3;  
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;">
    <h1 style="font-size: 36px; font-weight: bold;border-color:#000;">Welcome to BanDee</h1>
    <p style="font-size: 20px;">...</p>
</div>
<div class="container mt-4" style="margin-bottom: 100px;">
    <h2>ข่าวสาร&nbsp;<i class="bi bi-megaphone"></i></h2>
    <hr />
    <div class="row">
      <h1 class="information">ประกาศ <i class="bi bi-exclamation-lg inf" ></i></h1>
        <div class="col-12">
            <div class="card mb-3" style="max-width: 100rem;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/ซ่อมถนนเสร็จ.webp" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-center" style="position: absolute; top: 15%;">
                      <p class="card-text"><small class="text-body-secondary">{{ Announce.Date }}</small></p>
                      <p class="card-text">{{ Announce.Title}}</p>
                      <p class="card-text">{{ Announce.Detail}}</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>

    </div>

</div>