
<img src="home.jpg" style="width:100%;position:relative;height: 600px;">

<div class="text-center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #706ED3;  
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;">
    <h1 style="font-size: 36px; font-weight: bold;border-color:#000;">Welcome to BanDee</h1>
    <p style="font-size: 20px;">...</p>
</div>
<div class="container mt-4" style="margin-bottom: 100px;">
    <h2>ข่าวสาร&nbsp;<i class="bi bi-megaphone"></i></h2>
    <hr />
    <div class="row">
      <h1 class="information">ประกาศ <i class="bi bi-exclamation-lg inf" ></i></h1>
        <div class="col-12">
            <div class="card mb-3" style="max-width: 100rem;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/ซ่อมถนนเสร็จ.webp" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-center" style="position: absolute; top: 15%;">
                      <p class="card-text">ขณะนี้ ถนนหน้าบ้านเลขที่ 33/3 ได้ทำการซ่อมบำรุงเสร็จสิ้นและสามารถกลับมาใช้สัญจรได้ตามปกติ</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-12">
            <div class="card mb-3" style="max-width: 100rem;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="/สระว่ายน้ำ.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-center" style="position: absolute; top: 20%; ">
                      <p class="card-text">ขณะนี้ สระว่ายน้ำส่วนกลางของหมู่บ้านได้ทำการเปิดให้บริการแล้ว</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-3" style="max-width: 100rem;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/สวนสาธารณะ.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body text-center" style="position: absolute; top: 20%; ">
                  <p class="card-text">แจ้งปิดสวนสาธารณะ เพื่อทำการซ่อมบำรุงสวนสาธารณะ</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>