<app-admin-sidebar></app-admin-sidebar>
<div class="container">
  <div class="header">
      <h1>dashboard</h1>
      <img src="line.png" alt="error" width="200">
  </div>
</div>
<!-- แสดงเงินเข้า -->
<div class="showvalue">
  <div class="col">
      <div class="showdetail">
          <h5>แก้ไขอัตราชำระ</h5>
          <button type="button" class="btn nB" (click)="openModal1()">แก้ไขอัตราชำระ</button>
      </div>
  </div>
  <div class="col">
      <div class="showdetail">
        <h5>เรียกเก็บค่าส่วนกลาง</h5>
        <button type="button" class="btn nB" (click)="SendBill()">เก็บค่าส่วนกลาง</button>
      </div>
  </div>
  <div class="col">
      <div class="showdetail">
          <h5>แจ้งเตือนค้างชำระ</h5>
          <button type="button" class="btn nB" (click)="sendWarning()" >แจ้งเตือน</button>
      </div>
  </div>
  <div class="col">
      <div class="showdetail">
          <h5>แจ้งข่าวสาร</h5>
          <button type="button" class="btn nB" (click)="openModal()">ประกาศข่าวสาร</button>
        </div>
  </div>
</div>

<!-- แสดงการโหลด -->
<!-- <div *ngIf="isLoading" class="loading-spinner">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <p>กำลังดำเนินการ กรุณารอสักครู่...</p>
</div> -->

 <!-- แสดงแผนผังหมู่บ้าน -->
<div class="layout">
  <div class="row">
 <div class="col-8">
<div class="bg">
    <div class="village-layout">
        <img src="logo.png" alt="logo error" [width]="100">
      <div class="roadNew">
        <div class="road">ถนนหลัก</div>
      </div>
      <div class="house-row">
        <div class="house one" [ngStyle]="{'background-color': getHouseColor(1)}" [attr.title]="getResidentInfo(1)">1</div>
        <div class="house two" [ngStyle]="{'background-color': getHouseColor(2)}" [attr.title]="getResidentInfo(2)">2</div>
        <div class="house three" [ngStyle]="{'background-color': getHouseColor(3)}" [attr.title]="getResidentInfo(3)">3</div>
        <div class="house four" [ngStyle]="{'background-color': getHouseColor(4)}" [attr.title]="getResidentInfo(4)">4</div>
        <div class="house five" [ngStyle]="{'background-color': getHouseColor(5)}" [attr.title]="getResidentInfo(5)">5</div>
        <div class="house six" [ngStyle]="{'background-color': getHouseColor(6)}" [attr.title]="getResidentInfo(6)">6</div>
        <div class="house seven" [ngStyle]="{'background-color': getHouseColor(7)}" [attr.title]="getResidentInfo(7)">7</div>
        <div class="house eight" [ngStyle]="{'background-color': getHouseColor(8)}" [attr.title]="getResidentInfo(8)">8</div>
        <div class="house nine" [ngStyle]="{'background-color': getHouseColor(9)}" [attr.title]="getResidentInfo(9)">9</div>
        <div class="house ten" [ngStyle]="{'background-color': getHouseColor(10)}" [attr.title]="getResidentInfo(10)">10</div>
        <div class="house eleven" [ngStyle]="{'background-color': getHouseColor(11)}" [attr.title]="getResidentInfo(11)">11</div>
        <div class="house twelve" [ngStyle]="{'background-color': getHouseColor(12)}" [attr.title]="getResidentInfo(12)">12</div>
      </div>
      
      <div class="roadNew">
        <div class="road">ถนน A</div>
      </div>
  
      <div class="house-row">
        
        <div class="house thirteen" [ngStyle]="{'background-color': getHouseColor(13)}" [attr.title]="getResidentInfo(13)">13</div>
        <div class="house fourteen" [ngStyle]="{'background-color': getHouseColor(14)}" [attr.title]="getResidentInfo(14)">14</div>
        <div class="house fifteen" [ngStyle]="{'background-color': getHouseColor(15)}" [attr.title]="getResidentInfo(15)">15</div>
        <div class="house sixteen" [ngStyle]="{'background-color': getHouseColor(16)}" [attr.title]="getResidentInfo(16)">16</div>
        <div class="house seventeen" [ngStyle]="{'background-color': getHouseColor(17)}" [attr.title]="getResidentInfo(17)">17</div>
        <div class="house eighteen" [ngStyle]="{'background-color': getHouseColor(18)}" [attr.title]="getResidentInfo(18)">18</div>
        <div class="house nineteen" [ngStyle]="{'background-color': getHouseColor(19)}" [attr.title]="getResidentInfo(19)">19</div>
        <div class="house twenty" [ngStyle]="{'background-color': getHouseColor(20)}" [attr.title]="getResidentInfo(20)">20</div>
        <div class="house twenty-one" [ngStyle]="{'background-color': getHouseColor(21)}" [attr.title]="getResidentInfo(21)">21</div>
        <div class="house twenty-two" [ngStyle]="{'background-color': getHouseColor(22)}" [attr.title]="getResidentInfo(22)">22</div>
        <div class="house twenty-three" [ngStyle]="{'background-color': getHouseColor(23)}" [attr.title]="getResidentInfo(23)">23</div>
        <div class="house twenty-four" [ngStyle]="{'background-color': getHouseColor(24)}" [attr.title]="getResidentInfo(24)">24</div>
        
        <div class="new-row"></div> <!-- ขึ้นบรรทัดใหม่ที่นี่ -->
        <div class="house twenty-five" [ngStyle]="{'background-color': getHouseColor(25)}" [attr.title]="getResidentInfo(25)">25</div>
        <div class="house twenty-six" [ngStyle]="{'background-color': getHouseColor(26)}" [attr.title]="getResidentInfo(26)">26</div>
        <div class="house twenty-seven" [ngStyle]="{'background-color': getHouseColor(27)}" [attr.title]="getResidentInfo(27)">27</div>
        <div class="house twenty-eight" [ngStyle]="{'background-color': getHouseColor(28)}" [attr.title]="getResidentInfo(28)">28</div>
        <div class="house twenty-nine" [ngStyle]="{'background-color': getHouseColor(29)}" [attr.title]="getResidentInfo(29)">29</div>
        <div class="house thirty" [ngStyle]="{'background-color': getHouseColor(30)}" [attr.title]="getResidentInfo(30)">30</div>
        <div class="house thirty-one" [ngStyle]="{'background-color': getHouseColor(31)}" [attr.title]="getResidentInfo(31)">31</div>
        <div class="house thirty-two" [ngStyle]="{'background-color': getHouseColor(32)}" [attr.title]="getResidentInfo(32)">32</div>
        <div class="house thirty-three" [ngStyle]="{'background-color': getHouseColor(33)}" [attr.title]="getResidentInfo(33)">33</div>
        <div class="house thirty-four" [ngStyle]="{'background-color': getHouseColor(34)}" [attr.title]="getResidentInfo(34)">34</div>
        <div class="house thirty-five" [ngStyle]="{'background-color': getHouseColor(35)}" [attr.title]="getResidentInfo(35)">35</div>
        <div class="house thirty-six" [ngStyle]="{'background-color': getHouseColor(36)}" [attr.title]="getResidentInfo(36)">36</div>
      </div>
  
      <div class="roadNew">
        <div class="road">ถนน B</div>
      </div>
      <div class="house-row">
        <div class="house thirty-seven" [ngStyle]="{'background-color': getHouseColor(37)}" [attr.title]="getResidentInfo(37)">37</div>
            <div class="house thirty-eight" [ngStyle]="{'background-color': getHouseColor(38)}" [attr.title]="getResidentInfo(38)">38</div>
            <div class="house thirty-nine" [ngStyle]="{'background-color': getHouseColor(39)}" [attr.title]="getResidentInfo(39)">39</div>
            <div class="house forty" [ngStyle]="{'background-color': getHouseColor(40)}" [attr.title]="getResidentInfo(40)">40</div>
            <div class="house forty-one" [ngStyle]="{'background-color': getHouseColor(41)}" [attr.title]="getResidentInfo(41)">41</div>
            <div class="house forty-two" [ngStyle]="{'background-color': getHouseColor(42)}" [attr.title]="getResidentInfo(42)">42</div>
      </div>
    </div>
  </div>
</div>
    <div class="col-4">
      <div class="reviewdetail">
      <h5 class="mt-3">แสดงเงินเข้าล่าสุด</h5>
      <table class="table">
        <thead >
          <tr>
            <th>รหัสชำระ</th>
            <th>วันที่</th>
            <th>ชื่อ - สกุล </th>
            <th>จำนวนเงิน</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Last of LastpaidS$ | async">
            <td>{{ Last.Paid_ID }}</td>
            <td> {{ Last.Adjusted_Paid_Date | date: 'dd MMM yyyy, HH:mm:ss' }}</td>
            <td>{{ Last.R_Firstname}} {{ Last.R_Lastname}}</td>
            <td>{{ Last.Paid_Amount}}</td>
            
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">Previous</button>
       <button>Page {{ currentPage }} of {{ totalPages }}</button>
       <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">Next</button>
     </div>
    </div>
    </div>
  </div>
</div>


<div class="charts"> 
  <div class="line" [chart]="lineCharts"></div>
</div>

<div class="charts"> 
  <div class="pie" [chart]="pieChart"></div>
  <div class="line" [chart]="lineCharts1"></div> 
</div>

<div *ngIf="Announcement | async as news">
  <div *ngIf="news.length > 0; else noData">
    <div class="product-card" *ngFor="let item of news">
      <div class="photo">
        <img [src]="'http://localhost:3500/' + item.Announce_image" alt="Photo" style="width: 500px; height: 20rem;">
      </div>
      <div class="details">
        <p><strong>Date</strong>: {{ item.Adjusted_Announce_Date | date: 'dd MMM yyyy, HH:mm:ss'}}</p>
        <p><strong>Title</strong>: {{ item.Announce_Title }}</p>
        <p><strong>Detail</strong>: {{ item.Announce_Detail }}</p>
      </div>
      <div class="edit-btn">
        <button class="btn btn-primary" (click)="editAnnouncement(item)">Edit</button>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <p>No announcements available.</p>
</ng-template>

<!-- Pagination Controls -->
<div class="pagination-controls">
  <button (click)="goToPreviousPage1()" [disabled]="currentPage1 === 1">Previous</button>
  <span>Page {{ currentPage1 }} of {{ totalPages1 }}</span>
  <button (click)="goToNextPage1()" [disabled]="currentPage1 === totalPages1">Next</button>
</div>

<div class="modal" *ngIf="isModalOpen2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เพิ่มข่าวสาร</h5>
        <button type="button" class="close" (click)="closeModal2()">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="EditNewsform" (ngSubmit)="onEdit()">
          <div class="form-group">
            <label for="Announce_Title">หัวข้อข่าวสาร</label>
            <input type="text" id="Announce_Title" formControlName="Announce_Title" class="form-control" placeholder="กรอกหัวข้อข่าวสาร">
          </div>
        
          <div class="form-group">
            <label for="Announce_Detail">รายละเอียดข่าวสาร</label>
            <textarea id="Announce_Detail" formControlName="Announce_Detail" class="form-control" placeholder="กรอกรายละเอียดข่าวสาร"></textarea>
          </div>

          <div class="form-group">
            <label for="Announce_Status">สถานะ</label>
            <select id="Announce_Status" formControlName="Announce_Status" class="form-select"  aria-label="Default select example">
              <option selected>Status</option>
              <option value="Show">Show</option>
              <option value="Hide">Hide</option>
            </select>
          </div>
        
          <div class="form-group">
            <input id="Announce_image" type="file" class="form-control" (change)="onFileChange($event)" accept="image/*">
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal2()">ยกเลิก</button>
            <button type="onEdit" class="btn btn-primary">บันทึก</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>

<!-- ทำ modal สำหรับประกาศข่าวสาร -->
<div class="modal" *ngIf="isModalOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">เพิ่มข่าวสาร</h5>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="AddNewsform" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="Announce_Title">หัวข้อข่าวสาร</label>
            <input type="text" id="Announce_Title" formControlName="Announce_Title" class="form-control" placeholder="กรอกหัวข้อข่าวสาร">
          </div>
        
          <div class="form-group">
            <label for="Announce_Detail">รายละเอียดข่าวสาร</label>
            <textarea id="Announce_Detail" formControlName="Announce_Detail" class="form-control" placeholder="กรอกรายละเอียดข่าวสาร"></textarea>
          </div>
        
          <div class="form-group">
            <input id="Announce_image" type="file" class="form-control" (change)="onFileChange($event)" accept="image/*">
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">ยกเลิก</button>
            <button type="submit" class="btn btn-primary">บันทึก</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>
<!-- Modal for Change FeeRate -->

<div class="modal" *ngIf="isModalOpen1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">ปรับเปลี่ยนอัตราการชำระ</h5>
        <button type="button" class="close" (click)="closeModal1()">&times;</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="ChangeFee" (ngSubmit)="changeFee()">
          <div class="form-group">
            <label for="House_Size">เลือกขนาดบ้าน</label>
            <select id="House_Size" formControlName="House_Size" class="form-select" (change)="onHouseSizeChange($event)">
              <option value="">เลือกประเภทบ้าน</option>
              <option *ngFor="let size of houseSizes" [value]="size.House_Size">{{ size.House_Size }}</option>
            </select>
          </div>
        
          <div class="form-group">
            <label for="Land_size">พื้นที่บ้าน</label>
            <input id="Land_size" formControlName="Land_size" class="form-control" placeholder="ขนาดพื้นที่บ้าน" readonly>
          </div>

          <div class="form-group">
            <label for="FeeRate">อัตราชำระ ต่อตารางวา</label>
            <input id="FeeRate" formControlName="FeeRate" class="form-control" placeholder="อัตราค่าชำระ">
          </div>
          
          <div class="form-group">
            <label for="Fine">ค่าปรับ</label>
            <input id="Fine" formControlName="Fine" class="form-control" placeholder="อัตราค่าชำระ">
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal1()">ยกเลิก</button>
            <button type="changeFee" class="btn btn-primary">บันทึก</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>