<div class="payment-section">
    <h2>ชำระค่าส่วนกลาง</h2>
    <div class="filter">
      <div class="headfilter"><h5>ประวัติการชำระเงิน</h5></div>
      <div class="filtercontrol">
          <div class="form">
          <label for="month">เดือน </label>
          <select name="month" id="month" class="formmonth">
              <option value="1">มกราคม</option>
              <option value="2">กุมภาพันธ์</option>
              <option value="3">มีนาคม</option>
              <option value="4">เมษายน</option>
              <option value="5">พฤษภาคม</option>
              <option value="6">มิถุนายน</option>
              <option value="7">กรกฎาคม</option>
              <option value="8">สิงหาคม</option>
              <option value="9">กันยายน</option>
              <option value="10">ตุลาคม</option>
              <option value="11">พฤศจิกายน</option>
              <option value="12">ธันวาคม</option>
          </select>
      </div>

      <div class="form">
          <div class="form-group"> 
              <label for="year">ปี</label>
              <select name="year" id="year" class="formyear">
                <option value="1">2024</option>
                <option value="2">2023</option>
                <option value="3">2022</option>
              </select>
            </div>
      </div>

      <button type="submit" class="btn btn-primary">กรอง</button>
      </div>
      

  </div>
  <table class="payment-table">
    <thead>
      <tr>
        <th>วันที่</th>
        <th>บ้านเลขที่</th>
        <th>ขนาดบ้าน</th>
        <th>รวม</th>
        <th>ครบกำหนดชำระ</th>
        <!-- <th>สถานะการชำระ</th> --> 
         <th>สถานะ</th>
        <th>ใบเสร็จชำระเงิน</th>
       
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let payment of paymentHistory$ | async">
          <td>{{ payment.Pay_Date | date: 'dd MMM yyyy'}}</td>
          <td>{{ payment.House_number }}</td>
          <td>{{ payment.Land_size }} ตร.ว.</td>
          <td>{{ payment.Pay_Amount }} บาท</td>
          <td>{{ payment.Pay_Deadline | date: 'dd MMM yyyy'}}</td>
           <!-- <td>{{ payment.Pay_Status}}</td>  -->
          <td>
            <!-- ปุ่มชำระเงิน -->
            <button *ngIf="payment.Pay_Status.trim() !== 'Paid'" (click)="onGenerateQR(payment)">ชำระเงิน</button>
            <button *ngIf="payment.Pay_Status.trim() === 'Paid'" disabled>ชำระแล้ว</button>
          </td>
          <td><button (click)="generatePDF(payment)">Print</button></td>
      </tr>
    </tbody>
  </table>

  <!-- ส่วนสำหรับแสดง QR Code และปุ่ม Manual Scan -->
  <div *ngIf="myAngularxQrCode && selectedPayment && selectedPayment.Pay_Status !== 'Paid'">
    <p>ชำระเงินวันที่ {{ selectedPayment.Pay_Date | date: 'MM/dd/yyyy' }} หากต้องการชำระเงินแสกนคิวอาร์โค้ด หรือ กดปุ่มชำระเงิน</p>
    <img [src]="myAngularxQrCode" alt="PromptPay QR Code" />
    <div class="manual-payment mt-3">
        <button (click)="onManualScan()">ชำระเงิน</button>
    </div>
  </div> 

  <p class="help-text">หากพบปัญหา ติดต่อ 090-XXX-XXXX</p>
</div>
