.filter{
  border: 2px solid black;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width:1250px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(38, 0, 255, 0.312);
}

.headfilter{
  padding-top: 2rem;
}

.filtercontrol{
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.formyear,.formmonth{
  width: 100%;
  border-radius: 10px;
}

.payment-section {
    text-align: center;
    margin: 20px auto;
    
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .payment-table {
    width: 65%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 5px 5px 10px rgba(38, 0, 255, 0.312);
    margin-bottom: 20px;
  }
  
  .payment-table th, .payment-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
  }

  .qr-code img {
    margin: 20px 0;
    width: 150px;
    height: 150px;
  }
  
  .help-text {
    margin-top: 10px;
    color: #6a5acd;
    font-weight: bold;
  }
a{
  text-decoration: none;
  color: black; /*เดี๋ยวกลับมาแก้*/
}
.Overdue{
     color: red;
    font-weight: bold;
}
.Paid{
  color: green;
    font-weight: bold;
}