<div class="payment-section">
    <h2>ชำระเงิน</h2>
    <div class="filter">
      <div class="headfilter"><h5>ประวัติการชำระเงิน</h5></div>
      <div class="filtercontrol">
          <div class="form">
          <label for="month">เดือน </label>
          <select name="month" id="month" class="formmonth">
              <option value="1">มกราคม</option>
              <option value="2">กุมภาพันธ์</option>
              <option value="3">มีนาคม</option>
              <option value="4">เมษายน</option>
              <option value="5">พฤษภาคม</option>
              <option value="6">มิถุนายน</option>
              <option value="7">กรกฎาคม</option>
              <option value="8">สิงหาคม</option>
              <option value="9">กันยายน</option>
              <option value="10">ตุลาคม</option>
              <option value="11">พฤศจิกายน</option>
              <option value="12">ธันวาคม</option>
          </select>
      </div>

      <div class="form">
          <div class="form-group"> 
              <label for="year">ปี</label>
              <select name="year" id="year" class="formyear">
                <option value="1">2024</option>
                <option value="2">2023</option>
                <option value="3">2022</option>
              </select>
            </div>
      </div>

      <button type="submit" class="btn btn-primary">กรอง</button>
      </div>
      

  </div>
    <table class="payment-table">
      <thead>
        <tr>
          <th>วันที่</th>
          <th>บ้านเลขที่</th>
          <th>ขนาดบ้าน</th>
          <th>รวม</th>
          <th>ครบกำหนดชำระ</th>
          <th>สถานะการชำระ</th>
          <th>ใบเสร็จชำระเงิน</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let payment of paymentHistory$ | async">
            <td>{{ payment.Pay_Date | date: 'MM/dd/yyyy'}}</td>
            <td>{{ payment.House_number }}</td>
            <td>{{ payment.House_Size }}</td>
            <td>{{ payment.Pay_Amount }} บาท</td>
            <td>{{ payment.Pay_Deadline | date: 'MM/dd/yyyy'}}</td>
            <td>
              <span [class.Overdue] = "payment.Pay_Status" [class.Paid]="!payment.Pay_Status">
                {{ payment.Pay_Status ? 'Overdue' : 'Paid'}}
              </span>
            </td>
            
            <td><button (click)="generatePDF()">Print</button></td>
        </tr>
      </tbody>
    </table>
  
    <p>ชำระเงินวันที่ 2024-09-01 หากชำระเงินวันนี้ทำตามขั้นตอนและสแกนคิวอาร์โค้ดด้านล่าง</p>
    <div *ngIf="!isQrScanned">
      <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    

    <p class="help-text">หากพบปัญหา ติดต่อ 090-XXX-XXXX</p>
  </div>
