<div class="payment-section">
    <h2>ชำระเงิน</h2>
    <table class="payment-table">
      <thead>
        <tr>
          <th>วันที่</th>
          <th>ขนาดบ้าน</th>
          <th>ราคา</th>
          <th>รวม</th>
          <th>สถานะการชำระ</th>
          <th>ประวัติชำระเงิน</th>
          <th>ประวัติคำร้องเรียน</th>
          <th>ใบเสร็จชำระเงิน</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2024-09-01</td>
          <td>s</td>
          <td>500</td>
          <td>500</td>
          <td>N</td>
          <td><a routerLink="/historyPurchase">ดูประวัติชำระเงิน</a></td>
          <td><a>ดูประวัติคำร้องเรียน</a></td>
          <td><button (click)="generatePDF()">Print</button></td>
        </tr>
      </tbody>
    </table>
  
    <p>ชำระเงินวันที่ 2024-09-01 หากชำระเงินวันนี้ทำตามขั้นตอนและสแกนคิวอาร์โค้ดด้านล่าง</p>
    <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    <p class="help-text">หากพบปัญหา ติดต่อ 090-XXX-XXXX</p>
  </div>
