.status-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    border-radius: 10px;
  }
  
  .status-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .status-header h1 {
    font-size: 24px;
    color: #333;
  }
  
  .filter-container {
    display: flex;
    align-items: center;
  }
  
  .filter-container label {
    margin-right: 10px;
  }
  
  .filter-container select {
    padding: 5px;
    font-size: 16px;
  }
  
  .status-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(38, 0, 255, 0.312);

  }
  
  .status-table th, .status-table td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .status-table th {
    background-color: #9a8fff;
    color: #fff;
  }
  
  .status-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .paid {
    color: green;
    font-weight: bold;
  }
  
  .unpaid {
    color: red;
    font-weight: bold;
  }
  
  .pay-button {
    padding: 8px 15px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pay-button:hover {
    background-color: #1976D2;
  }
  