<div class="main">
    <nav class="sidebar" >
      <div class="menu-bar">
        <div class="menu">
          <div class="menu-links">
            <li class="nav-link">
              <a routerLink="/service">
                <i class="bi bi-wallet2 icon"></i>
                <span class="text nav-text">บริการส่วนกลาง</span>
              </a>
            </li>
            <li class="nav-link">
              <a routerLink="/commonfeeStatus">
                <i class="bi bi-clipboard2-check icon"></i>
                <span class="text nav-text">สถานะที่ส่วนกลาง</span>
              </a>
            </li>
            
            <li class="nav-link">
              <a routerLink="/bookRoom">
                <i class="bi bi-receipt icon"></i>
                <span class="text nav-text">จองห้องส่วนกลาง</span>
              </a>
            </li>
            <li class="nav-link">
              <a routerLink="/fitness">
                <i class="bi bi-universal-access icon"></i>
                <span class="text nav-text">จองคิวฟิตเนส</span>
              </a>
            </li>
            <li class="nav-link">
              <a routerLink="/historyBooking">
                <i class="bi bi-hourglass-split icon"></i>
                <span class="text nav-text">ประวัติการจอง</span>
              </a>
            </li>
           
          </div>
        </div>
 
      </div>
    </nav>
  </div>
  