/* รูปแบบหลักสำหรับหน้า */
.user-services-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: none;
    border-radius: 8px;

}


.service-item {
    background: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
    padding: 15px;
    list-style-type: none;
    box-shadow: 5px 5px 10px rgba(38, 0, 255, 0.312);
}


.button {
    background-color: #9a8fff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.button:hover {
    background-color: #ff978f;
    transition: all 2s ease;
}

h2 {
    color: #333;
}
