.nav{
    background: linear-gradient(145deg, #9a8fff, #c68ef8, #fb90cd);
    position: fixed;
    overflow-y: auto;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.navbar-brand{
    margin-left: 20px;
}
.nav-link{
    color: #fff;
    margin-top: 10px;
}
ul{
    list-style: none;
}
.profile{
    margin-left: 590px;
    font-size: 23px;
    position: absolute;
}
.logout{
    margin-left: 10px;
    font-size: 23px;
    position: absolute;
}
.toggle {
    margin-left:530px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
  }
  
  .moon-sun i {
    font-size: 20px;
    margin-right: 10px;
  }