<nav class="navbar navbar-expand-lg   d-flex justify-content-between" style=" margin-top: 0; padding: 0.25rem 1rem;">
  <div class="d-flex align-items-center">
    <a class="navbar-brand" routerLink="/home" style="font-size: 14px; margin-right: 1rem;">
      <img src="logo.png" alt=" logo error" style="width: 150px;">
    </a>
  </div>
    <ul class="nav navbar-nav mx-auto">
      <li class="nav-item" routerLinkActive="active-nav-link">
        <a class="nav-link " routerLink="/service" style="font-size: 14px; padding: 0.5rem 1rem; font-weight:bold;">บริการ</a>
      </li>
      <li class="nav-item" routerLinkActive="active-nav-link">
        <a class="nav-link" routerLink="/purchase" style="font-size: 14px; padding: 0.5rem 1rem; font-weight:bold;">ชำระเงิน</a>
      </li>
      <li class="nav-item" routerLinkActive="active-nav-link">
        <a class="nav-link" routerLink="/status" style="font-size: 14px; padding: 0.5rem 1rem; font-weight:bold;">ติดตามสถานะ</a>
      </li>
      <li class="nav-item" routerLinkActive="active-nav-link">
        <a class="nav-link" routerLink="/report" style="font-size: 14px; padding: 0.5rem 1rem; font-weight:bold;">ร้องเรียน</a>
      </li>
      <li class="nav-item" routerLinkActive="active-nav-link">
        <a class="nav-link" routerLink="/about-us" style="font-size: 14px; padding: 0.5rem 1rem; font-weight:bold;">เกี่ยวกับเรา</a>
      </li>
    </ul>
  
 
  <div class="navbar-end d-flex me-2 ms-auto profile" style="margin-left: 1100px;">
    <div class="toggle">
      <div class="moon-sun">
        <i class="bi" [ngClass]="isDarkMode ? 'bi bi-sun' : 'bi bi-moon'"  (click)="toggleDarkMode()"></i>
      </div>
      <span class="mode-text">{{ isDarkMode ? '' : '' }}</span>
    </div>
   
    <span (click)="toggleProfilePopup()" class="bi bi-person-circle icon" style="font-size: 16px; margin-right: 1rem; cursor: pointer;padding: 0.5rem 1rem; font-weight:bold;font-size:20px">
    </span>
    <div id="profilePopup" class="profile-popup" [ngStyle]="{ 'visibility': isProfilePopupVisible ? 'visible' : 'hidden' }">
      <div class="profile-popup-content">
        <img src="profile.jpg" alt="Profile image" class="profile-image">
        <p>Hello {{ username }}</p>
        <button class="edit-profile-btn" routerLink="/edit-profile" >Edit Profile</button>
        </div>
      </div>
  
    

    <a class="nav-link bi bi-box-arrow-right" (click)="logout()" href="/" style="font-size: 20px; text-decoration: none;padding: 0.5rem 1rem; font-weight:bold;font-size:20px">&nbsp;</a>
  </div>
</nav>
