

  <div class="sidebar" >
    <header>
      <div class="image-text">
        <span class="image">
          <img src="logoblack.png" alt="logo" style="width:100px; margin-top: 20px;margin-left: 20px;">&nbsp;
        </span>
        <div class="text header-text">
          <span class="name">BanDee</span>
        </div>
      </div>
    </header>
    <div class="menu-bar">
      <div class="menu">
        <div class="menu-links">
          <li class="nav-link">
            <a routerLink="/dashboard">
              <i class="bi bi-house-heart-fill icon"></i>
              <span class="text nav-text">dashboard</span>
            </a>
          </li>
          <li class="nav-link">
            <a routerLink="/residentList">
              <i class="bi bi-person-vcard icon"></i>
              <span class="text nav-text">resident-list</span>
            </a>
          </li>
          <li class="nav-link">
            <a routerLink="/complainRepair">
              <i class="bi bi-tools icon"></i>
              <span class="text nav-text">complain/repair</span>
            </a>
          </li>
          
        </div>
      </div>
      <div class="bottom-content">
        <li class="nav-link">
          <a (click)="logout()" aria-label="Logout">
            <i class="bi bi-box-arrow-left icon" style="margin-left: 30px;"></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>
        <div class="toggle-container">
          <div class="moon-sun">
            <i class="bi" [ngClass]="{'bi-sun': isDarkMode, 'bi-moon': !isDarkMode}"></i>
          </div>
          <span class="mode-text">{{ isDarkMode ? 'Light mode' : 'Dark mode' }}</span>
          <label class="switch">
            <input type="checkbox" (click)="toggleDarkMode()" [checked]="isDarkMode">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="main-content" [ngClass]="{'slide': isOpen}">
    <button class="main-content" (click)="toggleSidebar()">{{ isOpen ? '× ' : '☰ ' }}</button>
</div> -->
