<app-side-service/>
<div class="user-services-container">
    <h3 style="text-align: center;">บริการสำหรับผู้อยู่อาศัย</h3>
    <ul>
        <li class="service-item">
            <h4>จองสระว่ายน้ำ</h4>
            <p>บริการ 8:00-16:00 น. </p>
            <p>หากสนใจ โทรแจ้ง 020-888-8888</p>
            <button class="button" routerLink="/information">เพิ่มเติม</button>
        </li>
        <li class="service-item">
            <h4>จองคิวในฟิตเนต</h4>
            <p>สามารถจองออนไลน์ได้</p>
            <p>8:00-17:00 น</p>
            <button class="button" routerLink="/information">เพิ่มเติม</button>
        </li>
        <li class="service-item">
            <h4>จองมินิเทียร์เตอร์</h4>
            <p>ห้องมีจำนวนจำกัด! </p>
            <button class="button" routerLink="/information">เพิ่มเติม</button>
        </li>
    </ul>
</div>
