<app-admin-sidebar></app-admin-sidebar>
<div class="container">
    <h2>ระบบติดตามลูกหนี้</h2>
  
    <table class="status-table">
      <thead>
        <tr>
          <th>บ้านเลขที่</th>
          <th>เจ้าของ</th>
          <th>ขนาดบ้าน</th>
          <th>จำนวนเงิน</th>
          <th>สถานะการชำระเงิน</th>
          <th>ปรับสถานะ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let house of houses">
          <td class="text-dark">{{ house.houseNumber }}</td>
          <td class="text-dark">{{ house.ownerName }}</td>
          <td class="text-dark">{{ house.size }}</td>
          <td class="text-dark">{{ house.feetotal }}</td>
          <td>
            <span [class.paid]="house.isPaid" [class.unpaid]="!house.isPaid">
              {{ house.isPaid ? 'ชำระแล้ว' : 'ค้างชำระ' }}
            </span>
          </td>
          <td>
            <button (click)="togglePaymentStatus(house)">เปลี่ยนสถานะ</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  