.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(38, 0, 255, 0.312);
  }
  
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .status-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .status-table th, .status-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .status-table th {
    font-weight: bold;
  }
  
  .finish {
    color: green;
    font-weight: bold;
  }
  
  .unfinish {
    color: red;
    font-weight: bold;
  }
  