<div class="main">
    <nav class="sidebar" >
          
      <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">
            <li class="nav-link">
              <a routerLink="/service">
                <i class="bi bi-wallet2 icon"></i>
                <span class="text nav-text">บริการส่วนกลาง</span>
              </a>
            </li>
            <li class="nav-link">
              <a routerLink="/statusCommonfee">
                <i class="bi bi-clipboard2-check icon"></i>
                <span class="text nav-text">สถานะที่ส่วนกลาง</span>
              </a>
            </li>
            
            <li class="nav-link">
              <a routerLink="/receipt">
                <i class="bi bi-receipt icon"></i>
                <span class="text nav-text">จองห้องจัดเลี้ยง</span>
              </a>
            </li>
            <li class="nav-link">
              <a routerLink="/historyReport">
                <i class="bi bi-universal-access icon"></i>
                <span class="text nav-text">จองคิวฟิตเนส</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="bi bi-taxi-front icon"></i>
                <span class="text nav-text">ลงทะเบียนรถ</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="#">
                <i class="bi bi-balloon-heart icon"></i>
                <span class="text nav-text">ลงทะเบียนสัตว์</span>
              </a>
            </li>
           
          </ul>
        </div>
 
      </div>
    </nav>
  </div>
  