<app-admin-sidebar></app-admin-sidebar>
<div class="container">
    <div class="header">
        <h1>Payment</h1>
        <img src="line.png" alt="error" width="200">
    </div>
</div>
<div class="charts">
<div class="line" [chart]="lineCharts"></div>
</div>
<div class="history">
    <div class="row">
        <div class="col-8">
            <h4>ประวัติชำระเงินรายบุคคล</h4>
            <div class="filter">
                <div class="filtercontrol">
                    <div class="form">
                        <label for="month">เดือน </label>
                        <select name="month" id="month" class="formmonth" >
                            <option value="1">มกราคม</option>
                            <option value="2">กุมภาพันธ์</option>
                            <option value="3">มีนาคม</option>
                            <option value="4">เมษายน</option>
                            <option value="5">พฤษภาคม</option>
                            <option value="6">มิถุนายน</option>
                            <option value="7">กรกฎาคม</option>
                            <option value="8">สิงหาคม</option>
                            <option value="9">กันยายน</option>
                            <option value="10">ตุลาคม</option>
                            <option value="11">พฤศจิกายน</option>
                            <option value="12">ธันวาคม</option>
                          </select>
                      </div>
        </div>
    </div>
        <table>
            <thead>
                <tr>
                    <th>ชื่อ</th>
                    <th>นามสกุล</th>
                    <th>เลขที่บ้าน</th>
                    <th>ขนาดบ้าน</th>
                    <th>จำนวนเงิน</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>อิง</td>
                    <td>เน่า</td>
                    <td>123/456</td>
                    <td>70 ตร.ม</td>
                    <td>1000.-</td>
                </tr>
            </tbody>
        </table>
    
        </div>
        <div class="col-4">
        <div class="col">
            <button type="button" class="btn btn-light ">แจ้งเตือน</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-light" (click)="changeFee()">แก้ไขอัตราชำระ</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-light" (click)="SendBill()">เก็บค่าส่วนกลาง</button>
        </div>
        </div>
        </div>
    </div>
<div class="paid">
    <div class="row">
    <div class="col-6">
        <h4>รายการคนที่ชำระแล้ว</h4>
    <table>
        <thead>
            <tr>
                <th>ชื่อ - สกุล </th>
                <th>เลขที่บ้าน</th>
                <th>เบอร์ติดต่อ</th>
                <th>จำนวนเงิน</th>
                <th>สถานะชำระ</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let paid of paid | async">
                <td>{{ paid.R_Firstname }} {{ paid.R_Lastname }}</td>
                <td>{{ paid.House_number}}</td>
                <td>{{ paid.phone}}</td>
                <td>{{ paid.Pay_Amount}}</td>
                <td>{{ paid.Pay_Status}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-6">
    <h4>รายการคนที่ค้างชำระ</h4>
    <table>
        <thead>
            <tr>
                <th>ชื่อ - สกุล </th>
                <th>เลขที่บ้าน</th>
                <th>เบอร์ติดต่อ</th>
                <th>ค้างทั้งหมด (เดือน)</th>
                <th>จำนวนเงินทั้งหมด</th>
                <th>วันครบกำหนดชำระ</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Unpaid of Unpaid | async">
                <td>{{ Unpaid.R_Firstname }} {{ Unpaid.R_Lastname }}</td>
                <td>{{ Unpaid.House_number}}</td>
                <td>{{ Unpaid.phone}}</td>
                <td>{{ Unpaid.Pay_Out}}</td>
                <td>{{ Unpaid.Pay_Amount}}</td>
                <td>{{ Unpaid.Pay_Deadline | date: 'MM/dd/yyyy'}}</td>
                
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
