

<br>
<div class="about-us">
    <section class="team-members">
      <div class="member">
        <div class="avatar"><img src="แมวกล่อง.png"></div>
        <div class="details">
          <p><strong>ชยางกูร สองเมือง</strong></p>
          <p>
            <span class="icon">📞</span> 064-971-4900
          </p>
          <p>
            <span class="icon">📧</span> chayangkul.so&#64;ku.th
          </p>
        </div>
      </div>
      <div class="member">
        <div class="avatar"><img src="แมวกาแฟ.png"></div>
        <div class="details">
          <p><strong>พงศกร ทองกอบสม</strong></p>
          <p>
            <span class="icon">📞</span> 098-713-5201
          </p>
          <p>
            <span class="icon">📧</span> phongsakorn.thon&#64;ku.th
          </p>
        </div>
      </div>
      <div class="member">
        <div class="avatar"><img src="ตายคางาน.png"></div>
        <div class="details">
          <p><strong>พิชญ์นาฏ เหมือนสนธิ์</strong></p>
          <p>
            <span class="icon">📞</span> 065-717-4712
          </p>
          <p>
            <span class="icon">📧</span> pidchanard.m&#64;ku.th
          </p>
        </div>
      </div>
      <div class="member">
        <div class="avatar"><img src="คีย์แคป.png"></div>
        <div class="details">
          <p><strong>นันทนาธร ซื่อตรง</strong></p>
          <p>
            <span class="icon">📞</span> 096-003-4499
          </p>
          <p>
            <span class="icon">📧</span> nantanatorn.s&#64;ku.th
          </p>
        </div>
      </div>
    </section>
  </div>
  