<div class="main">
    <nav class="sidebar" >
      <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">
            <li class="nav-link">
              <a routerLink="/purchase">
                <i class="bi bi-wallet2 icon"></i>
                <span class="text nav-text">ชำระเงิน</span>
              </a>
            </li>
            <li class="nav-link">
              <a routerLink="/historyPurchase">
                <i class="bi bi-clock-history icon"></i>
                <span class="text nav-text">ดูประวัติชำระเงิน</span>
              </a>
            </li>
            
            <li class="nav-link">
              <a routerLink="/receipt">
                <i class="bi bi-receipt icon"></i>
                <span class="text nav-text">ใบเสร็จรับเงิน</span>
              </a>
            </li>
            <li class="nav-link">
              <a routerLink="/historyReport">
                <i class="bi bi-flag icon"></i>
                <span class="text nav-text">ดูประวัติคำร้องเรียน</span>
              </a>
            </li>
            
          </ul>
        </div>
       
      </div>
    </nav>
  </div>
  