<app-admin-sidebar></app-admin-sidebar>
<div class="container">
    <div class="header">
        <h1>Resident List</h1>
    </div>
</div>
<!-- <div class="resident">
    <table class="table">
        <thead>
            <tr>
                <th>เลขบัตรประชาชน</th>
                <th>ชื่อ</th>
                <th>นามสกุล</th>
                <th>บ้านเลขที่</th>
                <th>เบอร์โทรศัพท์</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1101125479568</td>
                <td>นันทนาธร</td>
                <td>ซื่อตรง</td>
                <td>123/456</td>
                <td>1234567890</td>
            </tr>
        </tbody>
    </table>
</div> -->

<button (click)="openModal()" class="btn-register">ลงทะเบียน</button>

<div class="profile-cards-container">
    <div class="profile-card">
      <div class="profile-image">
        <img src="profile.jpg" alt="Profile" />
      </div>
      <div class="profile-details">
        <p>เลขบัตรประชาชน: 1101125479568</p>
        <p>ชื่อ :นันทนาธร</p>
        <p>นามสกุล : ซื่อตรง</p>
        <p>เลขที่บ้าน :123/456</p>
        <p>เบอร์มือถือ : 0235687894</p>
      </div>
    </div>

    <!-- ทำ modal สำหรับการลงทะเบียนลูกบ้าน -->
    <div class="modal" [class.show]="isModalOpen">
        <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <h2>ลงทะเบียนผู้อยู่อาศัย/นิติบุคคล</h2>
      
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-grid">
              <div class="form-group">
                <label for="IDcard">เลขบัตรประชาชน:</label>
                <input
                  type="text"
                  id="IDcard"
                  formControlName="IDcard"
                  class="form-control"
                  placeholder="กรอกเลขบัตรประชาชน"
                />
              </div>
          
              <div class="form-group">
                <label for="User_Firstname">ชื่อ:</label>
                <input
                  type="text"
                  id="User_Firstname"
                  formControlName="User_Firstname"
                  class="form-control"
                  placeholder="กรอกชื่อ"
                />
              </div>
          
              <div class="form-group">
                <label for="User_Lastname">นามสกุล:</label>
                <input
                  type="text"
                  id="User_Lastname"
                  formControlName="User_Lastname"
                  class="form-control"
                  placeholder="กรอกนามสกุล"
                />
              </div>
          
              <div class="form-group">
                <label for="House_number">บ้านเลขที่:</label>
                <input
                  type="text"
                  id="House_number"
                  formControlName="House_number"
                  class="form-control"
                  placeholder="กรอกบ้านเลขที่"
                />
              </div>
          
              <div class="form-group">
                <label for="phone">เบอร์โทร:</label>
                <input
                  type="tel"
                  id="phone"
                  formControlName="phone"
                  class="form-control"
                  placeholder="กรอกเบอร์โทร"
                />
              </div>
              <div class="form-group">
                <label for="email">อีเมลล์:</label>
                <input
                  type="Email"
                  id="email"
                  formControlName="email"
                  class="form-control"
                  placeholder="กรอกอีเมลล์"
                />
              </div>
            </div>
          
            <button type="submit" class="btn-submit">บันทึก</button>
          </form>
          
        </div>
      </div>