<app-admin-sidebar></app-admin-sidebar>
<div class="container">
    <div class="header">
        <h1>Resident List</h1>
        <img src="line.png" alt="error" width="200">
    </div>
</div>
<!-- <div class="resident">
    <table class="table">
        <thead>
            <tr>
                <th>เลขบัตรประชาชน</th>
                <th>ชื่อ</th>
                <th>นามสกุล</th>
                <th>บ้านเลขที่</th>
                <th>เบอร์โทรศัพท์</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1101125479568</td>
                <td>นันทนาธร</td>
                <td>ซื่อตรง</td>
                <td>123/456</td>
                <td>1234567890</td>
            </tr>
        </tbody>
    </table>
</div> -->

<button (click)="openModal()" class="btn-register">ลงทะเบียน</button>

<div class="profile-cards-container">
    <div class="profile-card" *ngFor="let resident of residents | async">
      <div class="profile-image">
        <img src="profile.jpg" alt="Profile" />
      </div>
      <div class="profile-details">
        <p>ชื่อ-สกุล : {{ resident.R_Firstname }}  {{ resident.R_Lastname }}</p>
        <p>รหัสบัตรประชาชน : {{ resident.IDcard }}</p>
        <p>อีเมลล์ : {{ resident.email }}</p>
        <p>เบอร์โทรติดต่อ : {{ resident.phone   }}</p>
        <p>บ้านเลขที่ : {{ resident.House_number }}</p>
        <p>วันเข้าอาศัย : {{ resident.EntryDate | date: 'MM/dd/yyyy'}}</p>
        <p>สถานะ : {{ resident.status }}</p>
      </div>
    </div>
</div>
    <!-- ทำ modal สำหรับการลงทะเบียนลูกบ้าน -->
    <div class="modal" [class.show]="isModalOpen">
        <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <h2>ลงทะเบียนผู้อยู่อาศัย</h2>
      
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-grid">
             
              <div class="form-group">
                <label for="User_Firstname">ชื่อ:</label>
                <input
                  type="text"
                  id="User_Firstname"
                  formControlName="User_Firstname"
                  class="form-control"
                  placeholder="กรอกชื่อ"
                  maxlength="50" 
                />
              </div>
          
              <div class="form-group">
                <label for="User_Lastname">นามสกุล:</label>
                <input
                  type="text"
                  id="User_Lastname"
                  formControlName="User_Lastname"
                  class="form-control"
                  placeholder="กรอกนามสกุล"
                  maxlength="50" 
                />
              </div>

              <div class="form-group">
                <label for="username">ชื่อผู้ใช้ :</label>
                <input
                  type="text"
                  id="username"
                  formControlName="username"
                  class="form-control"
                  placeholder="กรอกชื่อผู้ใช้"
                  maxlength="50" 
                />
              </div>
              
              <div class="form-group">
                <label for="IDcard">เลขบัตรประชาชน:</label>
                <input
                  type="text"
                  id="IDcard"
                  formControlName="IDcard"
                  class="form-control"
                  placeholder="กรอกเลขบัตรประชาชน"
                  maxlength="13" 
                />
              </div>
          
              <div class="form-group">
                <label for="House_number">บ้านเลขที่:</label>
                <select id="House_number" formControlName="House_number" class="form-select" aria-label="Default select example">
                  <option value=""  selected>Select House</option>
                  <option *ngFor="let house of House$ | async" [value]="house.House_number">
                    {{ house.House_number }}
                  </option>
                </select>
              </div>
          
              <div class="form-group">
                <label for="phone">เบอร์โทร:</label>
                <input
                  type="tel"
                  id="phone"
                  formControlName="phone"
                  class="form-control"
                  placeholder="กรอกเบอร์โทร"
                  maxlength="10" 
                />
              </div>
              <div class="form-group">
                <label for="email">อีเมลล์:</label>
                <input
                  type="Email"
                  id="email"
                  formControlName="email"
                  class="form-control"
                  placeholder="กรอกอีเมลล์"
                  maxlength="50" 
                />
              </div>
            </div>
            <button type="submit" class="btn-submit">บันทึก</button>
          </form>
          
        </div>
      </div>